/* Lista de estilos do portfolio de Carlos Eduardo Botelho Santos, localizado no GitHub */

*{
    margin: 0;
}

body {
    background-color: #007BA7;
    font-family: 'Lato', 'sans-serif';
    font-weight: 500;
    font-size: large;
    color: #003153;
    line-height: 160%;
}

h1.inicio {
    background-color: #008b8b;
    font-family: 'Eczar','serif';
    font-weight: 100;
    font-stretch: extra-expanded;
    letter-spacing: 8px;
    color: #cae3e3;
    text-align: center;
    padding: 20px;
    z-index: 900;
    width: 100%;
}

.apresentacao-foto {
    display:inline-block;
    /* margin-bottom: auto; */
    /* height: 100%; */
}

h3 {
    font-family: 'Eczar','serif';
    color: #cae3e3;
    text-align: left;
    background-color: #008b8b;
    width: 100%;
    height: 30px;
    padding-left: 22px;
    padding-top: 5px;
    padding-bottom: 4px;
}

/* #bloco-foto {
    background-color: #003153;
    
    text-align: center;
    
    border-radius: 4%;
} */

#foto-principal {
    /* margin-top: -70px; */
    /* margin-bottom: -18px; */
    /* text-align: center; */
    z-index: 950;
    

}

#foto {
    width: 250px;
    height: 250px;
    float: right;
    margin-top: -4%;
    margin-left: 3%;
    border-radius: 3%;
    background-color: #003153;
    padding: 20px;
}

#bloco-principal {
    background-color: #fefefe;
    width: 50%;
    height: auto;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    position:relative;
    margin: auto;
    z-index: 700;
}

a {
    font-weight: 600;
    color: #0a4b96;
    text-decoration-style: dotted;
}

#container-menu {
    width: 100%;
    margin: auto;
    text-align: center;
    /* background-color: #87ceeb; */
    /* padding: 5%; */
}

.item-menu {
    width: 32%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

#lista-container {
    /* text-align: left; */
    list-style-type:none;
    margin: 0;
}

h3.header-container{
    text-align: center;
    padding: 1%;
    padding-top: 4%;
}

.link-container {
    /* background-color: aquamarine; */
    margin:auto;
}

#habilidades {
    margin-top:30px;
}